@model IEnumerable<ContosoUniversity.Models.SchoolViewModels.EnrollmentDateGroup>

@{
    ViewData["Title"] = "Student Body Statistics";
}

<h2>Personal Information</h2>
<h3>Name:  Christian Mena-Osorio</h3>
<h4>CIT 365 Assignment for week 10</h4>
