@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron text-center">
    <h1>University Metropolitan Technology</h1>
</div>
<body>

    <div class="container">
        <img src="~/css/picture/pictures/dreamstime_m_16441446.jpg" class="mx-auto d-block w-75" width="400" height="300">
    </div>

</body>
